.subfooter {
    background: $grey;
    padding: 48px 0;

    &__list {
        list-style: none;
    }

    &__list-socials {
        display: flex;
        flex-flow: row nowrap;
    }

    &__list-item {
    }

    &__link {
        color: $grey;
        font-size: 16px;
        position: relative;
        text-decoration: underline;
        transition: color 0.25s;
        font-weight: 300;

        &::before {
            position: absolute;
            right: -40px;
            top: -8px;
            content: '🡒';
            color: $green;
            font-size: 25px;
            text-decoration: none;
            transition: all 0.75s;
        }

        &:hover {
            color: $green;
            text-decoration: underline;

            &::before {
                right: -48px;
            }
        }
    }

    .icon {
        color: $white;
        text-decoration: underline;
        font-weight: 500;
        transition: color 0.25s;

        &:hover {
            color: $green;
        }

        &-phone {
            color: $green;
            font-size: 17px;
        }
    }

    &__social {
        display: inline-block;
        margin-right: 0.5rem;

        @include media-breakpoint-up(lg) {
            margin-right: 1rem;
        }
    }

    &__navigation {
    }

    @include media-breakpoint-down(md) {
        &__navigation {
            display: flex;
            flex-flow: column nowrap;
        }

        .navbar-toggler {
            border: none !important;
        }
    }
}
