.download {
    background-color: $green;
    border-radius: 8px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0);
    margin-top: 1.5rem;

    &__heading {
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        line-height: 1.33;
    }

    &__subheading {
        line-height: 1.46 !important;
    }

    &__desc {
        max-width: 498px;
        margin-bottom: 1.2rem !important;

        @include media-breakpoint-up(md) {
            margin-bottom: 2rem !important;
        }
    }

    &__image {
        @include media-breakpoint-down(md) {
            width: 0 !important;
            padding: 0 !important;
        }
    }
}
