.instructions {
    &__row {
        flex-flow: row wrap;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__main-heading {
        margin-bottom: 2rem;
        color: #0a100d;
    }

    &__card {
        width: 358px;
        margin: 0 auto;
        border-radius: 8px !important;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
            0 0 2px 0 rgba(0, 0, 0, 0.12);
    }

    &__img {
        height: 185px;
        width: auto;
        background-color: $lightGray;
        padding: 0 40px;
    }

    &__text {
        padding: 24px 40px;
        padding-left: 61px;
        position: relative;
    }

    &__heading {
        display: block;
        position: relative;

        &-first,
        &-second,
        &-third {
            line-height: 1.46;
        }

        &-first::before {
            content: '1.';
            position: absolute;
            left: 30px;

            font-size: 24px;
            font-weight: 500;
            color: $green;
        }
        &-second::before {
            content: '2.';
            position: absolute;
            left: 30px;

            font-size: 24px;
            font-weight: 500;
            color: $green;
        }
        &-third::before {
            content: '3.';
            position: absolute;
            left: 30px;

            font-size: 24px;
            font-weight: 500;
            color: $green;
        }
    }

    &__desc {
        min-height: 90px;
        margin-bottom: 1.5rem !important;
    }
}
