@import '~bootstrap/scss/functions';

//colors

$green: #9c3 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$orange: #f29614 !default;
$red: #d30010 !default;
$yellow: #ffe42f !default;
$white: #ffffff !default;
$black: #000000 !default;
$lightGray: #f9f9fa !default;
$grey: #41454b !default;

$colors: () !default;
$colors: map-merge(
    (
        'green': $green,
        'indigo': $indigo,
        'purple': $purple,
        'orange': $orange,
        'red': $red,
        'yellow': $yellow,
        'white': $white,
        'black': $black,
        'grey': $grey,
    ),
    $colors
);
$primary: $red !default;
$secondary: $yellow !default;
$success: $purple !default;
$info: #f1f4f5 !default;
$warning: $yellow !default;
$danger: $red !default;
$dark: $black !default;
$theme-colors: () !default;
$theme-colors: map-merge(
    (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'grey': $grey,
        'dark': $dark,
        'lightGray': $lightGray,
    ),
    $theme-colors
);
$theme-colors: map-merge($theme-colors, $colors);

// breakpoints

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 920px,
    xl: 1160px,
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 768px,
    md: 990px,
    lg: 1160px,
    xl: 1366px,
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');
