.footer {
    &__text {
        margin-bottom: 2rem;
        margin-top: 1rem;
        line-height: 1.69;

        letter-spacing: 0.3px;

        @include media-breakpoint-up(md) {
            margin-top: 1.5rem;
            margin-bottom: 3rem;
        }
    }
}
